.banner{
    width: 800px;
    height: 400px;
    margin: 0 auto;
    background: red;
}

.title{
    width: 800px;
    height: 50px;
    margin: 0 auto;
    background: purple;
}

img{
    width: 10%;
    position: relative;
    left: 650px;
    bottom: 80px;
}

.container{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background: pink;
}

.container .left{
    width: 200px;
    height: 500px;
    text-align: center;
    background: yellow;
    float: left;
}

.right{
    background: green;
    width: 600px;
    height: 500px;
    text-align: center;
    float: left;
}